/* VARIABLES */
:root{
    --bg-color:#aecedd;
    --primary-color:#375a4f ;
    --secondary-color:#616c60 ;
    --third-color:#;
    --third-bis-color:rgba(174, 206, 221, 0.8); /*es el color del bg pero con opacidad*/;
    --bg-input-color:#;
}

/* ESTILOS GLOBALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /*color:#fafafa;*/
    font-size: 25px;
}

body{
    background-color: var(--bg-color);
    /*background-image: url(../img/background_alternativa_2.jpg);*/
}

h1{
    font-family: Caveat, sans-serif;
    font-size: 50px;
    color: black;
    background-color: var(--third-bis-color);
    text-align: center;
    
}

h2{
    background-color: var(--primary-color);
    color: #fafafa;
    font-size: 40px;
    padding: 8px;
    text-align: center;
}

label{
    color: #fafafa;
}

#form-plan, #respuesta{
    background-color: var(--third-bis-color);
    width: 250px;
    /*display: flex;*/
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
}
/*
#form-plan .d-flex{
    justify-content: space-around;
}
*/
.d-flex-column{
    height: 70px;
    display: flex;
    flex-direction: column;
}

#banner{
    background-image: url(../img/botanico_jardin-1500x610.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    /*margin-top: 80px;
    /*box-shadow:inset 0 0 0 2000px rgba(84,84,84,0.5);*/
}

.button{
    background-color: var(--primary-color);
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px; /*redondea las esquinas -- Permite cambiar visualmente el contenedor a un círculo */
    color: #fff;
    cursor: pointer; /*Cambia el cursor a una manito cuando estoy sobre el botón*/
}

.activo{
    visibility: hidden;
    height: 50px;
}